{% extends "global/main.html" %}

{% block content %}
<div class="card">
    <div class="card-header bg-primary text-white">
        Entre com sua conta
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Digite o e-mail">
                <input type="password" class="form-control mt-2" placeholder="Digite a senha">
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary">Entrar</button>
        <button class="btn btn-secondary">Voltar</button>
    </div>
</div>
{% endblock content %}
